{% extends "base.html" %}
{% block main %}
    <div class="container">
        <div class="row">
            {% for user in users %}
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{ user["email"] }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ user["first_name"] }} {{ user["last_name"] }}</h6>
                    <p class="card-text">{{ user["work_area"] }}</p>
                    <a href="/user-edit/{{ user['id'] }}" class="card-link">Update</a>
                    <a href="/users/delete/{{ user['id'] }}" class="card-link">Delete</a>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}