{% extends "base.html" %}
{% block main %}
    <div class="container">
        <div class="row">
            <form action="{% if user %}/users/{{ user['id']}}{% else %}/users{% endif %}" method="POST">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       {% if user %} value="{{ user['email'] }}" {% endif %}>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" name="first_name" class="form-control" id="first_name"
                {% if user %} value="{{ user['first_name'] }}" {% endif %}>
              </div>
              <div class="mb-3">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" name="last_name" class="form-control" id="last_name"
                {% if user %} value="{{ user['last_name'] }}" {% endif %}>
              </div>
              <div class="mb-3">
                <label for="working_area" class="form-label">Working Area</label>
                <input type="text" name="working_area" class="form-control" id="working_area"
                {% if user %} value="{{ user['work_area'] }}" {% endif %}>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
  {% endblock %}